body {
    background-color: #ececec;
}

.navbar {
    border-bottom: 3px solid #31abe0;
}

.main-color {
    color: #31abe0;
}

.footer {
    background-color: #333333;
}

.footer-info {
    width: 300px;
}

@media screen and (min-width: 720px) {
    .footer-info {
        width: 600px;
    }
}

@media screen and (max-width: 988px) {
    .slider-container {
        display: none;
    }
}

.main-page-image {
    max-width: 250px;
    max-height: 200px;
}

@media screen and (min-width: 720px) {
    .main-page-image {
        width: 100%;
        height: 100%;
    }
}

.header-img {
    max-width: 200px;
    max-height: 200px;
}

.navbar-light .navbar-nav a:hover {
    text-decoration: underline;
}

.text-d-underline {
    text-decoration: underline !important;
}

.publication-item {
    display: flex;
    flex-wrap: wrap;
}

.publication-item .publication-img {
    flex: 1 1 300px;
    margin: 5px;
}

.publication-item .publication-img img {
    width: 300px;
    height: 180px;
}

.publication-item .publication-info {
    margin: 0 5px;
    flex: 1;
    flex-shrink: 0;
}

.publication-item .publication-time {
    color: darkgray;
}

.publication-item .publication-label {
    color: #31abe0;
    font-weight: 700;
    margin-left: 10px;
    font-size: 1.1em;
}

.publication-page-title {
    color: #31abe0;
}

.publication-page-content img {
    width: 100%;
}
